.icon {
  width: 16px;
  height: 16px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.active {
  color: #FF5722;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  font-size: 12px;
  line-height: 1.2;
  background-color: #fff;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
}

