main {
  height: calc(100vh - 45px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
main > section {
  display: none;
  padding: 10px;
}
main > section:first-child {
  display: block;
}
main .item {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
main .item a {
  display: block;
}
main .item img {
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
main .detail {
  padding-left: 10px;
}
main .detail h2 {
  font-size: 16px;
  color: #333;
}
main .detail p {
  color: #999;
  margin-top: 4px;
}
main .detail .average {
  color: #FF5722;
}
main .loading {
  border: 1px solid red;
  text-align: center;
  display: none;
}
main .loading .icon {
  display: inline-block;
  animation: turn 1s linear infinite;

}
@keyframes turn {
  0% {transform: rotate(0deg);}
  100% {transfrom: rotate(360deg);}
}

footer {
  height: 44px;
  display: flex;
}
footer > div {
  flex: 1;
  border-top: 1px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}