main {
    height: calc(100vh - 50px); 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
main > section {
    display: none;
}
main > section:first-child {
    display: block;
}
.item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}
.item>a{
    display: block;
    display: flex;
}
.item .cover,
.item .cover img{
    width: 70px;
}
.item .detail {
    flex: 1;
    padding-left: 10px;
}
.item .detail h2{
    font-size: 16px;
}
.item .detail .extra{
    color: #999;
    margin-top: 4px;
}
.item .detail .score{
    color: #FF5722;
}
.loading {
    text-align: center;
    display: none;
}
.loading .icon {
    animation: turn 1s linear infinite;
}
@keyframes turn {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

footer {
    height: 50px;
    display: flex;
    align-item: center;
    border-top: 1px solid #ccc;
}
footer > div {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
